/.fleet
/.gradle
/.idea
/.kotlin
/.vscode
/build
/build-logic/bin
comiqueta-app-firebase-adminsdk-dv6x1-1a5daa7e1e.json
firebase_app_distribution.properties
local.properties
keystore.jks
keystore.properties
version.properties
*.log
*.hprof
