<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 9 (API 28) to Android 12 (API 32) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Android 11+ (API 30+) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- Android 13+ (API 33+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Android 14+ (API 34+) -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
        android:maxSdkVersion="34" />

</manifest>